.card_1 {
    background-image: url("https://cdn.shopify.com/s/files/1/0566/8981/9857/files/grid_banner_1_770x.png?v=1637660479");
    background-repeat: no-repeat;
}

.card_2 {
    background-image: url("https://cdn.shopify.com/s/files/1/0566/8981/9857/files/grid_banner_2_770x.png?v=1637660478");
    background-repeat: no-repeat;
}

.card_3 {
    background-image: url("https://cdn.shopify.com/s/files/1/0566/8981/9857/files/grid_banner_3_770x.png?v=1637660478");
    background-repeat: no-repeat;
}